.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/special-offer-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/special-offer-2.png");
}

.site-wrapper::after {
  background-image: url("../img/special-offer-3.png");
}

.site-wrapper-catalog {
  background-color: #849d8f;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  display: block;
  width: 33px;
  height: 33px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 18px;
  border-radius: 35px;
  color: #ffffff;
  box-shadow: 0 1px 1px #ac1000;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-header {
  width: 1200px;
  margin: 0 auto;
  padding-top: 8px;
}

.main-navigation {
  display: flex;
  width: auto;
  padding: 0;
}

.site-navigation,
.user-navigation {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
  cursor: pointer;
}

.user-navigation a {
  color: #ffffff;
  cursor: pointer;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  сolor: #ffbc9e;
}

.main-header-logo {
  width: 156px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 27px;
}

.site-navigation {
  display: flex;
  width: 385px;
  justify-content: space-around;
  align-self: flex-start;
}

.site-navigation-button {
  display: inline-block;
  padding: 5px 14px 8px;
  text-decoration: none;
}

.site-navigation-button:not(.navigation-active)::after {
  content: "";
  display: block;
  margin-top: -4px;
  border-bottom: 1px solid #adbdb4;
}


.site-navigation-button:hover,
.site-navigation-button:focus {
  border: 0;
  border-radius: 20px;
  color: #323232;
  background-color: #f7f6f3;
}

.navigation-active {
    background-color: #d07058;
    border-radius: 15px;
    padding: 5px 14px;
    color: #ffffff;
    font-weight: 700;
}

.user-navigation {
  display: flex;
  width: 244px;
  justify-content: space-between;
  align-self: center;
  margin-left: auto;
  margin-right: 27px;
  margin-top: 0;
}

.filled-cart-navigation {
  width: 262px;
}

.search-button,
.login-button,
.cart-button {
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.login-button span,
.cart-button span {
  padding-left: 7px;
}

.search-button:hover,
.login-button:hover,
.cart-button:hover,
.search-button:focus,
.login-button:focus,
.cart-button:focus {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.user-search,
.user-login,
.user-cart {
  position: relative;
}

.user-search a {
  padding: 0;
  border-radius: 50%;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 33px;
  height: 33px;
}

.search-button:hover path,
.search-button:focus path,
.login-button:hover path,
.login-button:focus path,
.empty-cart-button:hover path,
.empty-cart-button:focus path,
.empty-cart-button:hover circle,
.empty-cart-button:focus circle {
  fill: #000000;
}

.login-button,
.cart-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px;
}

.filled-cart-button {
  background-color: rgba(255, 255, 255, 1);
}

.filled-cart-navigation .user-cart a {
  color: #323232;
}

.catalog-navigation,
.filled-cart {
  display: none;
}

.schedule {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: -27px;
  right: 7px;
  top: -25px;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
}

.schedule-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.schedule-phone {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  margin-top: 5px;
}

.container {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 25px;
}

.features {
  margin: 0px;
  padding: 24px 20px;
  border-radius: 15px;
  color: #323232;
  background-color: #f1e8d5;
  background-image: url("../img/bg-waffle.jpg");
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
}

.features h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  position: relative;
  width: 50%;
  margin-bottom: 2px;
}

.features-item {
  width: 50%;
  margin-bottom: 2px;
  text-align: left;
}

.features-item p {
  margin: 20px 0 0;
  padding-left: 56px;
  padding-right: 10px;
}

.features-2 p,
.features-4 p {
  padding-left: 70px;
}

.features-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list .features-1::before {
  background-image: url("../img/icons/features-1.svg");
}

.features-list .features-2::before {
  left: 12px;
  background-image: url("../img/icons/features-2.svg");
}

.features-list .features-3::before {
  background-image: url("../img/icons/features-3.svg");
}

.features-list .features-4::before {
  left: 12px;
  background-image: url("../img/icons/features-4.svg");
}

.news-subscribe {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  padding: 0;
  margin: 40px 0px;
}

.news,
.subscribe {
  width: 560px;
  padding-bottom: 22px;
  border-radius: 15px;
}

.news {
  margin-right: auto;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bg-strawberry.jpg");
  background-position: 18% 40%;
  background-repeat: no-repeat;
}

.news h3 {
  margin-left: 20px;
}

.news a {
  display: block;
  width: 52%;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 700;
  text-decoration: underline;
}

.news a:hover,
.news a:focus {
  color: #e84d37;
}

.subscribe {
  color: #323232;
  background-image: url("../img/bg-subscribe.png");
  background-color: #f8f7f4;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe p {
  margin: 35px 25px;
}

.subscribe-form {
  margin: 20px 25px;
}

.subscribe-form input[type=email] {
  margin-right: 12px;
  padding: 12px 10px;
  color: #323232;
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d3d3d3;
  width: 345px;
}

.subscribe-form .button {
  border: none;
  align-self: flex-end;
  padding: 12px 23px;
  margin-bottom: 0;
}

.modal {
  display: none;
  position: fixed;
  top: 11%;
  left: 34%;
  width: 420px;
  background-color: #f8f7f4;
  border-radius: 10px;
  color: #323232;
  padding: 20px;
}

.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs {
  position: relative;
  display: flex;
  margin-top: -55px;
  margin-left: 0;
  padding-left: 0;
  z-index: 1;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs span {
  margin-right: 5px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
}

.slides {
  width: 1106px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  padding: 240px 20px 0;
  text-align: center;
  color: #ffffff;
}

.slides-list {
  margin: -10px;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slides-switch {
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slides-switch label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slides-switch label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slide-button {
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

#products-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/special-offer-1.png");
}

#products-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/special-offer-2.png");
}

#products-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/special-offer-3.png");
}

#products-1:checked~.site-wrapper #slide-1,
#products-2:checked~.site-wrapper #slide-2,
#products-3:checked~.site-wrapper #slide-3 {
  display: block;
}

#products-1:checked~.site-wrapper label[for="products-1"],
#products-2:checked~.site-wrapper label[for="products-2"],
#products-3:checked~.site-wrapper label[for="products-3"] {
  background-color: #ffffff;
}

.offers {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-top: 22px;
  font-weight: 700;
}

.offer-raspberries,
.offer-chocolate {
  display: flex;
  flex-direction: column;
  width: 560px;
  min-height: 206px;
  padding-bottom: 23px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.offer-raspberries {
  margin-right: auto;
  background: #a50928 url("../img/bg-raspberry.jpg") no-repeat;
}

.offer-chocolate {
  background: #482919 url("../img/bg-chocolate.jpg") no-repeat;
}

.offer-raspberries p,
.offer-chocolate p {
  margin: 0;
  padding: 15px 25px 0 18px;
}

.offer-title {
  padding-top: 16px;
  padding-bottom: 13px;
  font-size: 35px;
  line-height: 41px;
}

.offers .button {
  align-self: flex-end;
  margin: 45px 25px 0 0;
  padding: 12px 23px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 861px;
}

.filters fieldset {
  margin: 0 3px 15px 0;
  padding: 0;
  border: 0;
}

.filter-background {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.filter-title {
  margin: 0 0 6px;
  padding-left: 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}

.filter-sorting {
  width: 193px;
  padding-right: -25px;
  background-color: transparent;
}

.filter-sorting .filter-background:focus,
.filter-sorting .filter-background:hover {
  color: #323232;
}

.filter-sorting .filter-background:focus path,
.filter-sorting .filter-background:hover path {
  fill: #323232;
}

.select {
  padding: 9px 34px 9px 14px;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.down {
  position: absolute;
  right: 14px;
  top: 7px;
  z-index: 1;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-price {
  position: relative;
  width: 218px;
}

.filter-title {
  position: relative;
}

.filter-title,
.filter-title div {
  display: inline-block;
  vertical-align: top;
}

.filter-price-min,
.filter-price-max {
  width: 69px;
  margin-right: -1px;
  margin-top: -2px;
}

.filter-title input {
  width: 27px;
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  background: 0 0;
  border: 0;
}

.filter-price .filter-background {
  width: 195px;
  height: 20px;
  padding: 8px 12px;
}

.filter-price-range {
  position: absolute;
  bottom: 16px;
  left: 19px;
}

.filter-price-scale {
  width: 175px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 5px;
}

.price-scale {
  width: 103px;
  height: 4px;
  background: #ffffff;
  margin-left: 25px;
}

.price-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price-toggle-min {
  left: 17px;
}

.price-toggle-max {
  right: 43px;
}

.filter-fat {
  width: 411px;
  margin-right: 0;
}

.filter-fat .filter-background {
  padding: 7px 12px;
  padding-right: 0;
}

.filter-fat-item {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 10px;
}

.filter-fat-item input[type=radio] {
  display: none;
}

.fat-value {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.fat-radio+.fat-value::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.fat-radio:hover+.fat-value::before,
.fat-radio:focus+.fat-value::before {
  border-color: rgba(255, 255, 255, 1);
}

.fat-radio:checked+.fat-value::after {
  content: "";
  position: absolute;
  left: -23px;
  top: 6px;
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.fat-radio:checked:hover+.fat-value::after,
.fat-radio:checked:focus+.fat-value::after {
  background-color: rgba(255, 255, 255, 1);
}

.filter-toppings {
  width: 702px;
}

.filter-toppings .filter-background {
  padding: 7px 12px;
}

.filter-toppings-item {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  padding-left: 33px;
}

.filter-toppings-item input {
  display: none;
}

.topping-value {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.topping-checkbox+.topping-value::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.topping-checkbox:hover+.topping-value::before {
  border-color: rgba(255, 255, 255, 1);
}

.topping-checkbox:checked+.topping-value::after {
  content: "";
  position: absolute;
  left: -31px;
  top: -1px;
  width: 27px;
  height: 24px;
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 24px;
  opacity: 0.7;
}

.topping-checkbox:checked:hover+.topping-value::after,
.topping-checkbox:checked:focus+.topping-value::after {
  opacity: 1;
}

.filter-button {
  align-self: center;
  margin-bottom: 15px;
}

.button-filters {
  align-self: flex-end;
  margin-top: 21px;
  margin-bottom: 25px;
  padding: 7px 28px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  cursor: pointer;
}

.button-filters:hover,
.button-filters:focus {
  color: #323232;
  background: none;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: none;
}

.button-filters:active {
  padding: 10px 30px;
  color: #323232;
  background-color: rgba(234, 234, 234, 1);
  border: none;
  -webkit-box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.top {
  padding-top: 40px;
}

.top-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  width: 60px;
  height: 60px;
  background-image: url("../img/icon-top.png");
  background-position: center;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 267px;
  min-height: 324px;
  margin-bottom: 38px;
}

.catalog-item a {
  color: #ffffff;
  border-bottom: 1px solid #adbdb4;
}

.catalog-item a:hover,
.catalog-item a:focus,
.catalog-item a:active {
  color: #ffbc9e;
  border-bottom-color: #ffbc9e;
}

.catalog-item-image {
  width: 267px;
  height: 267px;
  margin-bottom: 14px;
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  margin: 0;
  bottom: 65px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
  z-index: 9;
}

.product-price {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.product-weight {
  margin-left: -12px;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  line-height: 19px;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  text-align: center;
}

.button-fast-view {
  display: none;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-bottom: 30px;
  list-style:
}

.previous-page,
.page,
.next-page {
  margin-right: 5px;
}

.previous-page,
.page,
.next-page {
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.active-page {
  color: #323232;
  background-color: #ffffff;
}

.map-contacts {
  display: flex;
  width: 1200px;
  margin-left: -25px;
  margin-bottom: -2px;
  padding: 0;
}

.map {
  position: relative;
  margin: 0;
  padding: 0;
  height: 430px;
}

.contacts {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 60px;
  right: 25px;
  width: 300px;
  box-sizing: border-box;
  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 30px 25px;
}

.contacts-phone,
.contacts-address {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.contacts-address {
  margin-bottom: 18px;
}

.contacts-phone {
  margin: 4px 0;
}

.contacts-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.button-feedback {
  border: none;
  align-self: flex-end;
  padding: 12px 23px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  margin: 0 auto;
  padding: 19px 0px 27px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 18px;
}

.footer-info a,
.footer-copyright p>a {
  color: #ffffff;
  border-bottom: 1px solid #adbdb4;
}

.footer-info a:hover,
.footer-info a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 185px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: block;
  width: 32px;
  height: 32px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active {
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button .icon {
  fill: #ffffff;
  opacity: 0.7;
}

.social-button:hover .icon,
.social-button:focus .icon {
  opacity: 1;
}

.social-button:active .icon {
  fill: #e6ebe9;
}

.footer-info {
  display: flex;
}

.footer-info .left {
  position: relative;
  margin: 0 30px 0 25px;
  padding: 0;
  list-style: none;
}

.left li:first-child::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-info .right {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-copyright {
  width: 215px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}
